body {
   font-family: Roboto, Helvetica, sans-serif;
   text-align: center;
}

.x {
   color: red;
}

.o {
   color: blue;
 }
 
#board {
   font: 85px arial, sans-serif;
   margin: 3px;
   
   display: grid;
   grid-template-columns: 100px 100px 100px;
   grid-template-rows: 100px 100px 100px;
   grid-gap: 10px;
   justify-content: center;  
   border: 1px solid DarkBlue;
}

#board > div {
   border: 3px solid LightSkyBlue;
   text-align: center;
   background-color: LightYellow;
}

#board > div:hover {
   background-color: lightblue;
}
